:root {
  --left-header: #ffbf00;
  --right-header: #00abff;
  --vertical-margin: 4em;
  --alt-font-color: #1d1d1d;
  --maxWidth : 960px;
  --cardWidth : 300px;
  --cardHeight : 275px;
  --colorMain : #3498db;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#0d142b;
    color:white;
}
.navbar-custom{
    background-color: #080818;
    color:azure;
}
nav .navbar-nav li a,
nav .navbar-brand{
    color:azure;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler{
border-color:azure;
}

/* projects styling */

.featured-project {
    position: relative;
    box-sizing: content-box;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #f13232, #a053df);
    border-image-slice: 1;
    padding: 1.5em;
    margin: 0em 1.5em var(--vertical-margin) 1.5em;
}
.project-icons-container {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
div {
    display: block;
}

.text-right{
    text-align: right;
}
.text-left {
    text-align: left!important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}
.fa-ul>li {
    position: relative;
}
.alt-font {
    font-family: "Inconsolata";
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* styling for github and live URL links*/
.project-icons-container a {
    padding: 0em 0.25em;
    color: black;
}

.fab, .far {
    font-weight: 400;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa-3x {
    font-size: 3em;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-github:before {
    content: "\f09b";
}
*, ::after, ::before {
    box-sizing: border-box;
}



/* styling for the projects images */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.project-card {
 background-color: transparent;
  margin: 0em 1.5em;
  margin-bottom: var(--vertical-margin);
}

.project-card .text-left li {
  display: inline;
  margin-right: 2em;
}

.project-icons-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.project-card .text-right li {
  display: inline;
  margin-left: 2em;
}

.project-icons-container a {
  padding: 0em .25em;
  color: black;
}
.project-img-container {
  position: relative;
  margin-bottom: 0.75em;
}
.project-icons-container .light {
  color: white;
}

.project-icons-container a:hover {
  color: var(--right-header);
  text-decoration: none;;
}



.project-row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}
.projects-border {
    display: block;
    width: 120px;
    height: 8px;
    background: #f1e78f;
    margin: 20px auto;
}
.bio-border {
    display: block;
    width: 120px;
    height: 8px;
    background: #f1e78f;
    margin: 20px auto;
}
.card-header{
        background-color:#0d142b;
    color:white;
}
.card-body{
    background-color:#0d142b;

}

.card-footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-self: flex-end;
        width:100%;
    }

.frontEnd-card{
 border:10px solid;
 border-image-slice:1;
 border-width: 5px;  

}
.border-gradient-purple{
    border-image-source: linear-gradient(to left,#743ad5, #d53a9d );
}

.top-buffer{
    margin-top: 20px;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
footer {
    bottom: 0px;
    padding:3rem;
    background-color: #080818;
    color:azure;
    opacity: 100;
}
/* projects styling */
#projects-title{
    left: -41px;
    bottom: -117px;
}

.royg-border{
    border-image-source: linear-gradient(to left, lime, var(--left-header));
    border-radius: 0px;
    border-image-slice: 1;
    border-width: 5px;
    padding: 3em;
}
.biv-border {
  border-image-source: linear-gradient(to left, hotpink, var(--right-header));
  border-radius: 0px;
  border-image-slice: 1;
  border-width: 5px;
  padding: 3em;
}
#projects .card-img-top {
  border-radius: 0px;
}

.projects .fa-ul {
  margin: 0em 0em 0em 1.5em;
}

.project-title {
  color: white;
  font-weight: bold;
  font-size: 50px;
}


/* skills styling */
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
.card-flip-pink > div{
    box-shadow: 0 3px 20px pink;
}

.card-flip-blue > div{
    box-shadow: 0 3px 20px rgb(7, 199, 247);
}

.card-flip-green > div{
    box-shadow: 0 3px 20px rgb(143, 241, 143);
}
.card-flip-yellow > div{
    box-shadow: 0 3px 20px rgb(253, 249, 1);
}


.card-flip{
    border-radius: 9px;
    width:100%;
    margin-top:20px;
    border: 0 none;

}
.card .card-body, .card-back .card-body{
    height: 380px;
}


.card-front{
    transform: rotateY(0deg);
    height:100%;
   
}
.card .card-flip{
    height: 700px;
}
.card-back{
    transform: rotateY(180deg);
    position: absolute;
    top:0;
}
.card-flip:hover .card-front{
    transform: rotateY(-180deg);
}
.card-flip:hover .card-back{
    transform: rotateY(0deg);
}


/* 
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.cardBox .card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.cardBox .card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}



.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
} */

/* @-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
} */


    

/* @media (min-width:768px){
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
} */
/* .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .cardBox .card {
    height: 385px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
} */
/* @media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .cardBox .card {
    height: 380px;
  }
} */