.project-row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}
.projects-border {
    display: block;
    width: 120px;
    height: 8px;
    background: #f1e78f;
    margin: 20px auto;
}
.bio-border {
    display: block;
    width: 120px;
    height: 8px;
    background: #f1e78f;
    margin: 20px auto;
}
.card-footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-self: flex-end;
        width:100%;
    }
.frontEnd-card{
    border:3px solid #8ff1bb;

}
.top-buffer{
    margin-top: 20px;
}

